# *local.py

.zip
.db
.sqlite3
.vscode/
base0.py
local_old.py
production_old.py
# /.codesandbox/
# /.devcontainer/
# /.github/
/temp/
/servers/
certs/
keys/
/backup/
claves/
* copy*
datos_sensibles.txt
Problema.md
prompts
*.log
/z_njalla/
.env*
01_full.sh
chatgpt.md
prompts.txt
pendientes.txt
importar_env_a_db.py
old.*
tmp/
# scripts/
