amqp
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
bcrypt
beautifulsoup4
billiard
bleach
blinker
boto3
botocore
Brotli
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
clickclick
cog
colorama
comm
connexion
contourpy
coverage
cryptography
cssselect2
curl_cffi
cycler
debugpy
decorator
defusedxml
distlib
distro
dj-database-url
Django
django-bootstrap5
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-heroku
django-markdownify
django-oauth-toolkit
django-sslserver
djangorestframework
djangorestframework_simplejwt
dnspython
dotenv
drf-yasg
ecdsa
executing
Faker
fastapi
fastjsonschema
filelock
flake8
Flask
Flask-Testing
Flask-WTF
fonttools
fpdf
fqdn
frozendict
fsspec
google-auth
greenlet
gunicorn
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
inflection
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jwcrypto
kiwisolver
kombu
livereload
looseversion
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
moviepy
multitasking
mutagen
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
nltk
notebook
notebook_shim
numpy
oauthlib
openai
openapi-client
overrides
packaging
pandas
pandocfilters
paramiko
parso
peewee
pexpect
pillow
platformdirs
playwright
pluggy
proglog
prometheus_client
prompt_toolkit
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure_eval
py
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
pydyf
pyee
pyflakes
Pygments
PyJWT
PyNaCl
pyOpenSSL
pyotp
pyparsing
PyPDF2
pyphen
pyproject-api
PySocks
pytest
pytest-cov
pytest-django
pytest-mock
pytest-randomly
python-dateutil
python-decouple
python-dotenv
python-jose
python-json-logger
python-multipart
python-nmap
python-pptx
python-telegram-bot
pytz
PyYAML
pyzmq
qrcode
ratelimit
referencing
regex
reportlab
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
s3transfer
scikit-learn
scipy
selenium
Send2Trash
setuptools
six
sniffio
soupsieve
sqlparse
sshtunnel
stack-data
starlette
stem
structlog
swagger_ui_bundle
ta
terminado
threadpoolctl
tinycss2
tinyhtml5
tokenizers
tomli
tornado
tox
tqdm
traitlets
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
uvloop
vine
virtualenv
watchfiles
wcwidth
weasyprint
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
WTForms
xlsxwriter
yfinance
zopfli
