annotated-types
anyio
asgiref
attrs
bcrypt
bleach
blinker
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
clickclick
colorama
connexion
coverage
cryptography
cssselect2
distlib
distro
dj-database-url
Django
django-bootstrap5
django-cors-headers
django-debug-toolbar
django-environ
django-heroku
django-markdownify
django-oauth-toolkit
django-sslserver
djangorestframework
djangorestframework_simplejwt
dnspython
drf-yasg
ecdsa
Faker
filelock
flake8
Flask
Flask-Testing
Flask-WTF
fonttools
greenlet
gunicorn
h11
httpcore
httpx
idna
inflection
iniconfig
itsdangerous
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jwcrypto
livereload
lxml
Markdown
MarkupSafe
mccabe
mypy
mypy-extensions
netifaces
nltk
oauthlib
openai
openapi-client
packaging
paramiko
pillow
platformdirs
playwright
pluggy
proglog
prometheus_client
prompt_toolkit
protobuf
psycopg2
psycopg2-binary
py
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
pydyf
pyee
pyflakes
Pygments
PyJWT
PyNaCl
pyOpenSSL
pyotp
pyparsing
PyPDF2
pyphen
pyproject-api
PySocks
pytest
pytest-cov
pytest-django
pytest-mock
pytest-randomly
python-dateutil
python-decouple
python-dotenv
python-jose
python-json-logger
python-multipart
python-nmap
python-pptx
python-telegram-bot
pytz
PyYAML
pyzmq
qrcode
ratelimit
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
s3transfer
scikit-learn
scipy
selenium
Send2Trash
setuptools
six
sniffio
soupsieve
sqlparse
sshtunnel
stack-data
starlette
stem
structlog
swagger_ui_bundle
ta
terminado
threadpoolctl
tinycss2
tinyhtml5
tokenizers
tomli
tornado
tox
tqdm
traitlets
types-python-dateutil
types-PyYAML
typing-inspection
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
uvloop
vine
virtualenv
watchfiles
wcwidth
weasyprint
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
WTForms
xlsxwriter
yfinance
zopfli
