FIELD_ENCRYPTION_FALLBACK_KEYS=
SECRET_KEY=changeme_secret_key
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
JWT_SECRET_KEY=Ptf8454Jd55
BASE_URL=https://example.com
TOKEN_PATH=/oidc/token
AUTHORIZE_PATH=/oidc/authorize
OTP_PATH=/otp/single
AUTH_PATH=/auth/challenges
API_PATH=/payments
SIMULATOR_NOTIFY_URL=http://localhost/notify
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
OPENAI_API_KEY=
TOTP_SECRET=