[Unit]
Description=Simulador Banco SEPA
After=network.target

[Service]
User=root
WorkingDirectory=/opt/simulador_banco
ExecStart=/opt/simulador_banco/venv/bin/gunicorn simulador_banco.wsgi:application --bind 0.0.0.0:9080
Restart=always

[Install]
WantedBy=multi-user.target
