[Unit]
Description=Tor Hidden Service - Simulador Bancario
After=network.target tor.service
Requires=tor.service

[Service]
Type=oneshot
ExecStart=/home/markmur88/api_bank_h2/scripts/utils/simulator_bank/agregar_hidden_simulador.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
